/* devanagari */
@font-face {
  font-family: 'Font1';
  font-style: normal;
  font-weight: normal;
  src: url(https://khanzafar44.github.io/kruti_dev_010_regular-webfont.woff2) format('woff2');
  
/* latin-ext */
@font-face {
  font-family: 'Font1';
  font-style: normal;
  font-weight: normal;
  src: url(https://khanzafar44.github.io/kruti_dev_010_regular-webfont.woff) format('woff');
  
}
/* latin */
@font-face {
  font-family: 'Font1';
  font-style: normal;
  font-weight: normal;
  src: url(https://khanzafar44.github.io/kruti_dev_010_regular-webfont.TTF) format('opentype');
  
}
